body {
	font-family:  Century Gothic,sans-serif, Helvetica, Arial;
	background-color: black ;
	color: white;
	width: 92vw;
	margin: 1em;
	padding: 2em;
	border: 1px solid white;	
	text-align: justify;	
}

.blocos {
	border: 1px solid white	;
	padding: 1em;
	margin: 1em;
	background-color: black;
	opacity: 0.8;
}