*{
	margin:0;
	padding:0;
}

html, body{
	height:100%;
	color:#FFFFFF;
	font-family: "tahoma";

}

body{
	
    background-image:radial-gradient(#f5d800 30%, #ecad00 60%, #e0f11f 100%);
	background-image:-moz-radial-gradient(#f5d800 30%, #ecad00 60%, #e0f11f 100%);
	background-image:-webkit-radial-gradient(#f5d800 30%, #ecad00 60%, #e0f11f 100%);
	width:100%;
	position:relative;
	overflow:hidden;
}


#menu_fixo {
display:inline-block;
position:fixed; width:100%;
height:50px; 
padding:0px 30px;
text-align: center;
top:-1px;
left:0px;
background:#000; 
list-style:none;
z-index:999;
font-size:18px;
-webkit-box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.4);
box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.4);
}
#menu_fixo li {
display: inline;
float:center;
margin:0px 50px;
height:41px; 
line-height:41px; 
-webkit-transition: all 200ms ease;
-moz-transition: all 200ms ease;
-ms-transition: all 200ms ease;
-o-transition: all 200ms ease;
transition: all 200ms ease;
text-shadow: 1px 1px 3px #696969;
filter: dropshadow(color=#696969, offx=1, offy=1);
}
#menu_fixo a {
padding:0px 10px;
color:#fff; 
-webkit-transition: all 200ms ease;
-moz-transition: all 200ms ease;
-ms-transition: all 200ms ease;
-o-transition: all 200ms ease;
transition: all 200ms ease;
}
#menu_fixo li:hover {
background: rgba(255,255,255,0.8); 
border:1px solid #fff; 
-webkit-box-shadow: 0px 0px 7px 1px #2288bb;
box-shadow: 0px 0px 7px 1px #2288bb;
}
#menu_fixo li:hover a {
color:#2288bb;
text-decoration:none;
text-shadow: 1px 1px 3px #f2f2f2;
filter: dropshadow(color=#f2f2f2, offx=1, offy=1);
}


}
@keyframes anime{
	0%{
		opacity:0;
		left:-100%;
	}
	100%{
		opacity:1;
		left:0;
	}
}
@-moz-keyframes anime{
	0%{
		opacity:0;
		left:-100%;
	}
	100%{
		opacity:1;
		left:0;
	}
}

@-webkit-keyframes anime{
	0%{
		opacity:0;
		left:-100%;
	}
	100%{
		opacity:1;
		left:0;
	}
}


.conteudo{
    border:1px solid blue;
	margin-top:80px;
	margin-left:190px;
	margin:50;
	padding:50;
	
}

.conteudo input{
	width: 250px;
	height: 30px;
	color: #666666;
	margin-bottom: 10px;
}

#principal{
	margin-top: 50px;
	top:10%;
}

.site{
	width:100%;
	height:98%;
	overflow-y:auto;
	overflow-x:hidden;
	margin-top:-150%;
	position:absolute;
	background-color: #f5d800;
	z-index:2;
    transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -webkit-transition: all 1.5s ease-in-out;

    box-shadow:0 4px 7px rgba(0,0,0,0.6);
    -moz-box-shadow:0 4px 7px rgba(0,0,0,0.6);
    -webkit-box-shadow:0 4px 7px rgba(0,0,0,0.6);

}
.site:target{
	background-image: url("imagens/copa2014.jpg");
	background-image:radial-gradient(#f5d800 30%, #ecad00 60%, #e0f11f 100%);
	background-image:-moz-radial-gradient(#f5d800 30%, #ecad00 60%, #e0f11f 100%);
	background-image:-webkit-radial-gradient(#f5d800 30%, #ecad00 60%, #e0f11f 100%);
	margin-top: 0;
	top:0;
}

h1{
	font-size:33px; 
	
}

h2{
	font-size: 20px;
}

p{
	background-color: #000;
	padding:10px;
	margin:5px 0;
}
 